#home {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;

  height: 100%;
}

#title {
  font-size: 4rem;

  margin-bottom: 0rem;
}
@media only screen and (max-width: 575px) {
  #title {
    font-size: 3rem;
  }
}

#subtitle {
  font-size: 1.5rem;

  margin-bottom: 4rem;
}
@media only screen and (max-width: 575px) {
  #subtitle {
    font-size: 1.25rem;

    margin-bottom: 8rem;
  }
}

#movie-title-field {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}
@media only screen and (max-width: 575px) {
  #movie-title-field {
    flex-direction: column;
    justify-content: start;
    align-items: center;

    padding-left: .5rem;
    padding-right: .5rem;
  }
}

#movie-title-input {
  display: flex;
  flex: 5;

  border: none;
  outline: 1px solid #000000;

  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 10px;
  padding-right: 10px;
  margin-right: 1rem;

  font-size: 1.5rem;

  min-width: 285px;
  max-width: 285px;
  min-height: 2.25rem;
  max-height: 2.25rem;
}
@media only screen and (max-width: 575px) {
  #movie-title-input {
    margin-right: 0rem;

    min-width: 277px;
    max-width: 277px;
  }
}

#movie-title-input-suggestion-menu {
  min-width: 285px;
  max-width: 285px;
}
@media only screen and (max-width: 575px) {
  #movie-title-input-suggestion-menu {
    min-width: 277px;
    max-width: 277px;
  }
}

.movie-title-input-suggestion {
  padding-left: 10px;
  padding-right: 10px;

  font-size: 1.5rem;
}

#start-survey-button {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex: 1;

  font-size: 1.5rem;

  min-height: 2.25rem;
  max-height: 2.25rem;

  text-align: center;
}
@media only screen and (max-width: 575px) {
  #start-survey-button {
    margin-top: 1rem;

    min-width: 297px;
    max-width: 297px;
  }
}
