#suggestion-menu {
  outline: 1px solid #000000;
  background: #FFFFFF;
  box-shadow: -2px 2px 4px #696969;

  max-height: 300px;

  padding-bottom: 1rem;

  position: fixed;
  z-index: 2;

  overflow: auto;

  -moz-transition: padding .4s, max-height .4s;
  -o-transition: padding .4s, max-height .4s;
  -webkit-transition: padding .4s, max-height .4s;
  transition: padding .4s, max-height .4s linear;
}
#suggestion-menu.hidden {
  display: none;

  max-height: 0px;
}
@media only screen and (max-width: 575px) {
  #movie-title-input.focused ~ #suggestion-menu {
    box-shadow: -4px 4px 4px #000000;

    max-height: 100%;

    margin: 0px;
  }
}

.suggestion {
  white-space: nowrap;

  margin-top: 5px;
  margin-bottom: 5px;
  padding-left: 10px;
  padding-right: 10px;

  font-size: 1.5rem;

  cursor: pointer;
}
