{
    "plugins": [
        "react-hot-loader/babel",
        "@loadable/babel-plugin"
    ],
    "presets": [
        ["@babel/preset-env", {
            "useBuiltIns": "usage",
            "corejs": 3
        }],
        "@babel/preset-react"
    ]
}
