@import '../variables.scss';
@import '../mixins.scss';

.progress-bar {
  position: relative;

  display: flex;
  flex-direction: row;
  justify-content: stretch;
  align-items: stretch;

  background-color: $white;

  width: 35rem;
  height: 1rem;
  @media only screen and (max-width: 575px) {
    width: 100%;
  }

  margin-bottom: 4rem;

  border-radius: 2rem;

  box-shadow: -4px 4px 4px $shadow;

  .progress-bar__complete {
    background-color: $secondary-color;

    border-top-left-radius: 2rem;
    border-bottom-left-radius: 2rem;

    height: 100%;
    min-width: 4%;

    @include transition(width .8s ease-in-out, border-radius .8s ease-in-out);
  }

  .progress-bar__complete--full {
    border-radius: 2rem;
  }

  .progress-bar__tooltip {
    visibility: hidden; 
    opacity: 0;
    @include transition(opacity .4s linear);

    position: absolute;
    z-index: 1;
    top: 150%;
    left: 50%;

    width: 9rem;

    margin-left: -4.5rem;
    padding: .5rem;

    color: $black;
    background-color: $white;

    text-align: center;

    border-radius: $border-radius;

    &::after {
      content: '';
      position: absolute;
      bottom: 100%;
      left: 50%;
      margin-left: -5px;
      border-width: 5px;
      border-style: solid;
      border-color: transparent transparent $white transparent;
    }
  }
  &:hover > .progress-bar__tooltip {
    visibility: visible;
    opacity: 1;
  }
}
