@import '../variables.scss';

#about-container {
  display: flex;
  flex-direction: column;
  justify-content: center;

  background: $white;

  box-shadow: -4px 4px 4px $shadow;

  border-radius: $border-radius;

  box-sizing: border-box;

  width: 40rem;

  margin-top: 7rem;
  margin-bottom: 7rem;
  padding: 1rem;

  @media only screen and (max-width: 575px) {
    width: 100%;

    margin-top: 4rem;
    margin-top: 4rem;
  }
}

#about-title {
  margin-top: 1rem;
  margin-bottom: .5rem;
}

#about-quote-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;

  padding-top: .5rem;
  padding-bottom: .5rem;

  font-size: 1.1rem;
}

#about-quote-opening-quotation {
  font-size: .8rem;
}

#about-quote {
  margin-top: .5rem;
  margin-bottom: .5rem;

  text-align: center;
}

#about-quote-closing-quotation {
  margin-left: auto;

  font-size: .8rem;
}

#about-quote-attribution {
  margin-left: auto;
}

#about-body {
  margin-top: .3rem;
  margin-bottom: 1rem;

  font-size: 1.1rem;

  & > p {
    margin-top: .5rem;
    margin-bottom: .5rem;

    text-indent: .8rem;
  }
}
