@import '../variables.scss';
@import '../mixins.scss';

#suggestion-menu-container {
  background: $white;
  border: none;
  border-bottom-left-radius: $border-radius;
  border-bottom-right-radius: $border-radius;
  box-shadow: -4px 4px 4px $shadow;
  clip:rect(0px, 100000px, 100000px, -100000px);

  max-height: 3000px;

  position: absolute;
  z-index: 2;

  overflow: hidden;

  @include transition(padding .4s linear, max-height .4s linear);

  &.hidden {
    display: none;
    
    max-height: 0px;
  }
}

@media only screen and (max-width: 575px) {
  #movie-title-field.focused > #suggestion-menu-container {
    box-shadow: -4px 4px 8px 4px $shadow;
  }
}

#suggestion-menu {
  overflow: auto;

  padding-bottom: 1rem;
}

.suggestion {
  white-space: nowrap;

  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 1rem;
  padding-right: 1rem;

  font-size: 1.5rem;

  cursor: pointer;
}
.suggestion:hover {
  color: $white;
  background-color: $primary-color;
}
