#suggestion-menu-container {
  background: var(--background-grey);
  border: none;
  border-bottom-left-radius: .4rem;
  border-bottom-right-radius: .4rem;
  box-shadow: -4px 4px 4px var(--shadow-color);
  clip:rect(0px, 100000px, 100000px, -100000px);

  max-height: 3000px;

  position: absolute;
  z-index: 2;

  overflow: hidden;

  -moz-transition: padding .4s, max-height .4s;
  -o-transition: padding .4s, max-height .4s;
  -webkit-transition: padding .4s, max-height .4s;
  transition: padding .4s, max-height .4s linear;
}
#suggestion-menu-container.hidden {
  display: none;
  
  max-height: 0px;
}
@media only screen and (max-width: 575px) {
  #movie-title-field.focused > #suggestion-menu-container {
    box-shadow: -4px 4px 8px 4px var(--shadow-color);
  }
}

#suggestion-menu {
  overflow: auto;

  padding-bottom: 1rem;
}

.suggestion {
  white-space: nowrap;

  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 1rem;
  padding-right: 1rem;

  font-size: 1.5rem;

  cursor: pointer;
}
.suggestion:hover {
  color: var(--background-grey);
  background-color: var(--secondary-color);
}
