@import '../variables.scss';

#decision {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;

  @media only screen and (max-width: 575px) {
    align-items: stretch;
  }

  box-sizing: border-box;

  width: 100%;
  height: 100%;

  padding-left: .5rem;
  padding-right: .5rem;
}

#question {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: stretch;

  background-color: $white;

  box-shadow: -4px 4px 4px $shadow;

  border-radius: $border-radius;

  box-sizing: border-box;
  min-height: 12rem;
  width: 35rem;

  margin-bottom: 4rem;
  padding: 1rem;

  font-size: 1.5rem;

  @media only screen and (max-width: 575px) {
    min-height: 0;
    width: 100%;
  }
}

#prompt {
  margin: 0;

  text-align: center;
}

#options {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;

  box-sizing: border-box;

  @media only screen and (max-width: 575px) {
    justify-content: space-between;

    position: fixed;
    bottom: 10%;
    left: 0;

    width: 100%;

    padding: 1rem;
  }
}

.option {
  box-shadow: none;

  border: 2px solid $black;
  border-radius: $border-radius;
  outline: none;

  height: 2.5rem;
  width: 6rem;

  &:hover {
    color: $white;
    border-color: $primary-color;
    background: $primary-color;
  }

  @media only screen and (max-width: 575px) {
    box-shadow: -4px 4px 4px $shadow;
    border: none;

    width: 4rem;
  }
}

#yes-option {
}

#idk-option {
  width: 12rem;

  @media only screen and (max-width: 575px) {
    width: 10.5rem;
  }
}

#no-option {
}
