@import '../variables.scss';
@import '../mixins.scss';

.progress-bar {
  display: flex;
  flex-direction: row;
  justify-content: stretch;
  align-items: stretch;

  background-color: $white;

  width: 35rem;
  height: 1rem;
  @media only screen and (max-width: 575px) {
    width: 100%;
  }

  margin-bottom: 4rem;

  border-radius: 2rem;

  box-shadow: -4px 4px 4px $shadow;

  .progress-bar__complete {
    background-color: $secondary-color;

    border-top-left-radius: 4rem;
    border-bottom-left-radius: 4rem;

    height: 100%;
    min-width: 1%;

    @include transition(width .8s ease-in-out);
  }
}
