@import './variables.scss';
@import './mixins.scss';

html {
  font-family: 'Poppins', sans-serif;

  color: $black;

  width: 100%;
  height: 100%;
}

body {
  margin: 0px;

  width: 100%;
  height: 100%;

  background-image: url('/img/pink_flamingo_01.jpg');
  /* background-image: url('/img/pink_angora_01.jpg'); */

  background-size: cover;
  @media only screen and (max-width: 575px) {
    background-size: 100%;
  }
}

p {
  font-family: 'Faustina', sans-serif;
}

#root {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;

  width: 100%;
  height: 100%;

  @media only screen and (max-width: 575px) {
    align-items: stretch;
  }
}

button {
  background: $white;

  border: none;
  border-radius: $border-radius;
  outline: none;

  @media only screen and (min-width: 576px) {
    @include transition(color $animation-timing, background-color $animation-timing, border-color $animation-timing);

    &:hover {
      color: $white;
      border-color: $primary-color;
      background-color: $primary-color;
    }
  }
  @media only screen and (max-width: 575px) {
    &:active {
      color: $white;
      border-color: $primary-color;
      background-color: $primary-color;
    }
  }

  box-sizing: border-box;

  box-shadow: -4px 4px 4px $shadow;

  font-size: 1.5rem;

  cursor: pointer;
}

input, input:focus {
  background: $white;

  border: none;
  border-radius: $border-radius;
  outline: none;
  outline-offset: 0;

  box-sizing: border-box;

  box-shadow: -4px 4px 4px $shadow;

  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 1rem;
  padding-right: 1rem;
}
input[type="text"] {
  font-size: 1.5rem;
}

