#movie-title {
  display: inline;

  background: #F0F0F0;

  box-shadow: -4px 4px 4px #000000;

  border-radius: .4rem;

  box-sizing: border-box;

  min-width: 35rem;
  max-width: 70%;

  margin-top: 4rem;
  margin-bottom: 4rem;
  padding: 1rem 2rem;

  font-size: 3rem;
  text-align: center;

  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
#movie-title.long-title {
  font-size: 2rem;
}
@media only screen and (max-width: 575px) {
  #movie-title {
    min-width: 100%;

    margin-top: 4rem;
    margin-bottom: 4rem;

    font-size: 1.5rem;
  }
  #movie-title.long-title {
    font-size: 1.5rem;
  }
}
