@import './variables.scss';

#movie-title {
  display: inline;

  background: $background-gray;

  box-shadow: -4px 4px 4px $shadow-color;

  border-radius: .4rem;

  box-sizing: border-box;

  min-width: 35rem;
  max-width: 70%;

  margin-top: 4rem;
  margin-bottom: 4rem;
  padding: 1rem 2rem;

  text-align: center;

  font-size: 3rem;
  &.long-title {
    font-size: 2rem;
  }

  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;

  @media only screen and (max-width: 575px) {
    min-width: 100%;

    margin-top: 4rem;
    margin-bottom: 4rem;

    font-size: 1.5rem;

    &.long-title {
      font-size: 1.5rem;
    }
  }
}
