#restart-btn {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  position: absolute;
  top: 1rem;
  left: 1rem;

  padding: .5rem;

  font-size: 1rem;

  cursor: pointer;
}
@media only screen and (max-width: 575px) {
  #restart-btn {
    top: .5rem;
    left: .5rem;

    font-size: 1.5rem;
  }
}

#restart-btn-text {
  margin-left: .5rem;
}
@media only screen and (max-width: 575px) {
  #restart-btn-text {
    display: none;
  }
}
